.dialog-container{
    width : 100%;
    height : 100%;
    background-color:rgba(0, 0, 0, 0.5);
    position: absolute;
    top : 0px;
}

.game {
    width : 800px;
    height : 600px;
    position: relative;
}

.dialog{
    width : 435px;
    font-family: Arial;
}

.dialog-content, .dialog-avatar, .dialog-actions, .dialog-action-button, .dialog-action-button, .dialog-container{
    display:flex;
}

.dialog-content {
    justify-content: space-between;
}

.dialog-content{
    background-color: white;
}

.dialog-text {
    font-size : 14px;
    padding : 5px 20px;
}

.dialog-content {
    border-radius : 10px;
}

.dialog-avatar img {
    width : 110px;
}

.dialog-avatar, .dialog-action-button, .dialog-container {
    align-items: center;
}

.dialog-actions, .dialog-container {
    justify-content: center;
}

.dialog-avatar-container {
    width : 110px;
    height : 92px;
    overflow:hidden;
}

b.title {
    color : #bc4217;
}

.dialog-actions {
    height : 40px;
}

.dialog-action-button {
    height : 40px;
    color : white;
    font-weight: bold;
    padding : 0px 20px;
    background-color: #bc4217;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom : 2px solid white;
    border-left : 2px solid white;
    border-right: 2px solid white;
    cursor: pointer;
}